@using la_mia_pizzeria_crud_mvc.Data
@model Pizza
<div class="container pt-5">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Name" class="d-block w-100 form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Description" class="d-block w-100 form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Image" class="d-block w-100 form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Price" class="d-block w-100 form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-light" value="Inserisci">
        </div>
    </form>
</div>
